html, body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.header{
  background-color: #333333;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.container h1{
	text-align: center;
}

.container h5{
	text-align: center;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 600px;
   	width: 800px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}