@import url(https://fonts.googleapis.com/css?family=Roboto);
*{
   font-family: 'Roboto', sans-serif;
}
.logo-cepc {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    display: block;
    margin-bottom: -50px;
}

.titulo {
    text-align: center;
    margin: 0 auto;
}

.row{
    margin: center;
}
.texto{
    font-size: 30px;
    text-align: center;
} 
.divisiones{
    text-align: center;
}
.jumbotron{
    background-image: url("../Imagenes/foto_comunidad.jpg");
    background-repeat:no-repeat; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 1.0;
}
/*.jumbotron {
  background-image: url('Imagenes/concursopreparacion1.jpg');
  background-size: cover;
  height: 600px;
  
  opacity: 1.0;
}*/
.jumbotron .container {
  position: relative;
  top:50px;
}

.jumbotron h1 {
  color: #000000;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color-font: #FFFFFF;
}

.title-footer{
    text-align: center;
}
.footer-style h2 h4 h5 p{
    color-font: #FFFFFF;
}
.row{
  margin: 0px;
}

p{
    text-align: center;
}
h2{
    text-align: center;
}

footer{
    background-color: #708090;
    color: white;

}
