@import url(https://fonts.googleapis.com/css?family=Roboto);
*{
   font-family: 'Roboto', sans-serif;
}
header{
    background-image: url("../dibujo.svg");
    background-size: 100px;

}
.logo-cepc {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    display: block;
    margin-bottom: -50px;
}

.titulo {
    text-align: center;
    margin: 0 auto;
}

.imgCarousel{
	width: 100%;
	min-height: 600px;
	max-height: 600px;
}

.row{
    margin:0;

}
.texto{
    font-size: 30px;
    text-align: center;
}
footer{
    background-color: #5580C1;

}