@import url(https://fonts.googleapis.com/css?family=Roboto);
*{
   font-family: 'Roboto', sans-serif;
}
.logo-cepc {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    display: block;
    margin-bottom: -50px;
}

.titulo {
    text-align: center;
    margin: 0 auto;
}

.imgCarousel{

    width: 100%;
    min-height: 449px;
    max-height: 440px;
}

.row{
    margin:0;

}
.texto{
    font-size: 30px;
    text-align: center;
} 
.divisiones{
    text-align: center;
}
p{
    text-align: center;
}
h2{
    text-align: center;
}

footer{
    background-color: #5580C1;

}
header{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a0809+0,6e7774+58,6e7774+58&1+0,0+100 */
background: -moz-linear-gradient(top,  rgba(10,8,9,1) 0%, rgba(110,119,116,0.42) 58%, rgba(110,119,116,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(10,8,9,1) 0%,rgba(110,119,116,0.42) 58%,rgba(110,119,116,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(10,8,9,1) 0%,rgba(110,119,116,0.42) 58%,rgba(110,119,116,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0809', endColorstr='#006e7774',GradientType=0 ); /* IE6-9 */


  }